body{
    background: url("/images/airbnb_background.png") center fixed;
    padding: 50px;
    /* font-family: 'Courier New', monospace; */
}
h1{
    font-family: Georgia, serif;
    font-size: 30px;
    /* text-shadow: 2px 2px 8px #f7917f; */
}

#main{
    width: 1150px;
    margin: 50px;
    padding: 50px;
    background-color: white;
    border-radius: 30px;
    border: 10px solid #f8cfca;
}
#titleImage{
    border-radius: 30px;
    margin-left: 350px;
}
#titlename{
    font-family: 'Paytone One', sans-serif;
    margin-left: 300px;
    font-size: 40px;
    color: rgb(104, 102, 102);
}
#title{
    font-size: 50px;
    grid-row: 50px 50px;
    
}
p{
    font-family: 'Courier', monospace;
    color: rgb(104, 102, 102);
    font-size: 15px;
    /* text-shadow: 2px 2px 8px #f7917f; */

}
#authorname{
    margin-left: 900px;
    text-shadow: 2px 2px 8px #f7917f;
    color: rgb(138, 135, 135);
}

#dashboard{
    display: grid;
    margin-left: 100px;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 80px 25px;
    justify-items: center;
    align-items: center;
    color: rgb(104, 102, 102);
    /* text-shadow: 2px 2px 8px #f7917f; */


    
}
#story{
    margin-top: 100px;
    border-radius: 20px;
    margin-bottom: 100px;
}
#pyramid{
    margin-top: 100px;
    margin-bottom: 100px;
}

#wordcloud{
    margin-left: 300px;
}

#cloudname{
    font-family: 'Courier', Courier, monospace;
    font-size: 25px;
    color:rgb(104, 102, 102);
    margin-left: 300px;

}

#caption1{
    font-family: 'Courier', Courier, monospace;
    font-size: 15px;
    color:rgb(104, 102, 102);

}

b{
    color: rgb(238, 147, 113);
}



.highcharts-point {
 stroke: white;
}
.main-color, .main-color .highcharts-point {
 fill: rgb(122, 192, 169);
}
/* .highcharts-graph.highcharts-negative {
 stroke: blue;
} */
.highcharts-area.highcharts-negative {
    fill: rgb(243, 165, 159);
}
.highcharts-point.highcharts-negative {
    fill: rgb(243, 165, 159);
}
#map{
    margin-left: 180px;
    margin-top: 100px;
    margin-bottom: 30px;
}
.highcharts-figure{
    margin-bottom: 100px;
}
#line{
    margin-top: 100px;
    margin-bottom: 100px;
}
#wordcloud{
    margin-top: 100px;
    margin-bottom: 100px;
}

.chart-parent{
    display: flex;
}

#endimg{
    border-radius: 30px;
}
#end{
    margin-left: 370px;
}
.button {
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    font-size: 23px;
    cursor: pointer;
    margin-left: 410px;
    margin-top: 20px;
    border-radius: 30px;
    font-family: 'Paytone One', sans-serif;


  }

.button2 {background-color: rgb(250, 161, 158);}